site_name: ShellBook
site_description: SysOps Knowledge Base - Linux, Windows, K8s & Security
site_author: SysOps Admin

theme:
  name: material
  palette:
    scheme: slate
    primary: deep purple
    accent: cyan
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - Linux:
    - linux/demo.md
    - linux/productivity.md
  - Windows:
    - windows/index.md
  - Security:
    - security/certificates.md
